.cursive-font {
    font-family: 'Yellowtail', cursive;
}

.head .container {
    background: linear-gradient(270deg, rgba(255,193,193,.64), rgba(158,0,0,.64));
}

.gw-btn {
    background-color: #434343;
    border: 1px solid #434343;
}

.gw-btn:hover {
    background-color: #ffffff;
    color: #434343;
    border: 1px solid #434343;
}

.counter-title h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.count-info h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
}

.campaign-card .category span {
    background-color: #E43A3A;
}

.shop-card .category span {
    background-color: #E43A3A;
}

.shop-card img {
    margin:0 auto;
}

.counter-title h4 {
    color: #C4C4C4;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.content-section {
    padding: 30px;
}

.campaign-card .campaign-info {
    padding: 15px 25px;
}

.campaign-card .category span {

}

.campaign-card .category span:hover {
    cursor: pointer;
    border: 2px solid #ff512f;
}

.payment-help {
    font-weight: normal;
}

.progress-bar span {
    background: linear-gradient(270deg, rgba(228,58,58,1), rgba(114,29,29,1));
}

#donate-now, #donate-form-wrap {
    background: #ffffff;
    border-radius: 5px;
}

#donate-now {
    box-shadow: 0 0 20px rgba(0, 0, 0, .25);
    padding: 25px 50px;
}

#donate-now-button {
    border: 0;
    background: #E43A3A;
    width: 100%;
    padding: 10px 0;
}

#donate-now-button:hover {
    background: #434343;
    color: white;
}

.form-control.ticket-input {
    border-top: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
}
.form-control.type-input {
    border-top: 1px solid #C4C4C4;
    border-left: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
}

.donate-input.required {
    border: 1px solid #C4C4C4;
}

.shop-card .card-footer a:hover {
    color: #E43A3A;
}

.shop-card .card-footer .link-left {
    background-image: linear-gradient(270deg, rgba(114,29,29,1), rgba(228,58,58,1));
    background-color: #E43A3A;
}

#basic-addon2 {
    background: #434343;
    color: #ffffff;
}

#basic-addon1 {
    color: #ffffff;
}

.footer {
    padding: 30px;
    background: #434343;
    text-align: center;
}

#total-donation-cost {
    font-weight: bold;
}

#error-message-field {
    color: red;
    font-size: 20px;
}

.status-text {
    text-align: center;
}